
/* Navigation section  */

#introsection{
    height:648px;
    padding: 0px;
}

.card {
    margin: 29px 18px;
}

.card0{
    margin: 29px 18px;
}

.logoline{
    margin: 14px
}
.logoline img{
    height: 75px;
}